/** STYLES / VARS / COLORS */

/** Spotify Branding */
$color-green: #1DB954;
$color-white: #FFFFFF;
$color-black: #191414;

/** Colors */
$color-yellow: #FFD83D;
$color-yellow-dark: #FFB73D;
$color-black-light: #A2A2A2;