$navbarHeight: 4rem;

header#main-header {
  position: fixed;
  width: 100%;
  height: $navbarHeight;
  background-color: $color-black;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  z-index: $zindex-nav;

  nav {

    &, & ul, & ul li {
      height: 100%;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;
  
      li {
        width: auto;
  
        &.logo {
          height: 100%;
        }
      }
    }
  }
}

main {
  height: calc(100vh - #{$navbarHeight});
  position: relative;
  top: $navbarHeight;
}